header {
    background-color: silver;
    color: black;
    padding: 5px;
    text-align: center;
}

.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 400px;
    margin: auto;
    background-color:grey;
    box-shadow: rgba(0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) opx, 6px, 6px;
}